*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
    list-style: none;
}
/* 头部 */
.head{
    width: 1020px;
    height: 89px;
    background-color:  #303441;
    margin: 0px auto;
    }
    .head .head-two{
        float: left;
    }
    .head div h4{
        display: inline-block;
        margin-left: 40px;
        line-height: 89px;
        font-size: 25px;
        color: #ffffff;
    }
    .head .head-one{
        float: right;
    }
    .head .head-one ul{
        margin-right: 40px;
    }
    .head .head-one ul li em{
        margin: 0px 10px;
        color: #74767a;
    }
    .head .head-one ul li{
        line-height: 89px;
        float: left;
       
        font-size: 12px;
        
    }
    .head .head-one ul li a:hover{
        color: red;
    }
    /* 头下部 */
    .head-bottom{
        width: 1020px;
        height: 600px;
        margin: 0px auto;
        background-color: #EB5055;
    }
    .head-bottom img{
        width: 1020px;
        height:600px;
    }
    /* 身体上部 */
    .body{
        width: 1020px;
        height: 495.1px;
        background-color: #F2F2F2;
        margin: 0px auto;
    }
    .body .body-one h4{
        padding-top:67px ;
        margin-left:40px ;
        color: #666D89;
        font-size: 30px;
        }
        .body .body-two{
            padding-top: 20px;
            width: 939px;
            height: 47px;
            margin: 0px 40px; 
            font-size: 16px;
        font-family: "Lato";
        font-weight: 300;
        line-height: 30px;
        color: #767E9E;
        }

        .body-three{
            margin-top: 51px;
        }
        .body-three ul li{
            float: left;
            width:340px;
            height: 134px;
           
        }
        .body-three ul li div{
            float: left;
        }
        .body-three .body-three-a1{
            margin-left: 41px;
            display: inline-block;
            width: 59px;
            height: 59px;
            text-align: center;
            border: 1px solid #000000;
            border-radius:50% ;
        }
        .body-three .body-three-a1 img{
            margin:10px auto;
            width: 32px;
            height: 31px;
        }
        .body-three .body-three-a11{
            margin-left: 18px;
            width: 150px;
             height: 17px;
            font-size: 15px;
            font-family: Lato;
            font-weight: 900;
            color: #666D89;
            line-height: 18px;

        }
        .body-three .body-three-a111{
            margin-left: 18px;
            width: 220px;
            height: 54px;
            font-size: 12px;
            font-family:" Lato";
            font-weight: 400;
            color: #767E9E;
            line-height: 22px;
            
         }  
          /*身体中部  */
        .body-center{
            width: 1020px;
            height: 870px;
            background-color: #303441;
            margin: 0px auto;
        }
        .body-center .body-center-c1{
           padding-top: 67px;
           margin-left: 40px;
            font-size: 30px;
            line-height: 17px;
            font-family: "Lato";
            color: #666D89;
        }
        .body-center .body-center-c2{
            font-size: 18px;
            color: #767E9E;
            font-family: "Lato";
            padding-top: 30px;
            margin-left: 40px;
        }
        .body-center .body-center-c3{
         
            border: 1px dotted    #666D89;
            margin-top: 13px;
            margin-left: 40px;
            width: 980px;
            height: 717px;
        }
        .body-center .body-center-c3 ul li {
           
            float: left;
        }
        .body-center .body-center-c3 ul li a{
           border: 1px solid #C5C5C5;
           border-radius: 5px 5px 5px 5px;
           height: 22px;
           padding: 2px 6px;
           margin-right: 10px;
           font-size: 12px;
           font-family: "Lato";
           font-weight: 300;
           color: #767E9E;

        }
        .body-center .body-center-c3 ul li a:hover{
            border: 1px solid red;
        }
        .body-center .body-center-c4{
            margin-top: 40px;
            background-color: pink;
        }
        .body-center .body-center-c4 ul li{
            float: left;
            width: 220px;
            height: 195px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .body-center .body-center-c4 ul li img{
           
            width: 100%;
            height: 100%;

        }
        /* 身体下部 */
        .body-next {
            width: 1020px;
            height: 728px;
            background-color: pink;
            margin: 0px auto;
        }
        .body-next .body-next-d1{
            color: #666D89;
            font-size: 30px;
            padding-top: 66px;
            margin-left: 40px;
        }
        .body-next .body-next-d2{
            color: #767E9E;
            font-size:16px ;
            margin-left: 40px;
            line-height: 30px;
            padding-top: 15px;
        }
        .body-next .body-next-d3{
            margin-left: 40px;
            margin-top: 20px;
        }
        .body-next .body-next-d3 div{
            margin-right: 20px;
            width: 300px;
            height: 500px;
            float: left;
            
        }
        .body-next .body-next-d3 div h4{
            font-size: 18px;
            margin: 18px 0px;
            color:#666D89;
        }
        .body-next .body-next-d3 div p{
            font-size: 10px;
            color: #767E9E;
            line-height: 20px;
        }
        .body-next .body-next-d3 div ul li{
            float: left;
            width: 28px;
            height: 28px;
            border: 1px solid #000000;
            border-radius: 50%;
            margin-top: 20px;
            margin-right: 10px;
        }
        .body-next .body-next-d3 div ul li img{
            width: 10px;
            height: 10px;
            margin:8px 8px;
        }
        /* 尾部 */
        .trailer-page{
            width: 1020px;
            height: 648px;
            margin: 0px auto;
            background-color:#EB5055;
        }
        .trailer-page h4{
            padding-top: 66px;
            margin-left: 40px;
            font-size: 30px;
            color: #F0D8D9;
        }
        .trailer-page p{
            
            padding-top: 22px;
            margin-left: 40px;
            font-size: 17px;
            font-family: "Lato";
            font-weight: 300;
            color: #F0D8D9;
            line-height: 30px;
        }
        .trailer-page .trailer-page-div{
             width: 980px;
             height: 400px;
             margin-left: 40px;
            
             margin-top: 40px;
        }
        .trailer-page .trailer-page-div div{
            float: left;
        }
        .trailer-page .trailer-page-div .div1{
            width: 600px;
            height:400px;
           
        }
        .trailer-page .trailer-page-div .div1 input{ 
            display: block;
            width: 600px;
            height:30px;
            margin-top: 20px;
            background-color: #CA4549;
             border: none;
             font-size: 12px;
             color: #F48C8F;
             line-height: 22px;
         }
         .trailer-page .trailer-page-div .div1 textarea{
             margin-top: 20px;
             width: 600px;
             height: 220px;
             background-color: #CA4549;
             border: none;
             font-size: 12px;
             color: #F48C8F;
            line-height: 22px;
         }
        .trailer-page .trailer-page-div .div2{
           
            width:340px;
            height: 400px;
           
        }
        .trailer-page .trailer-page-div .div2 h4{
            
            padding: 0px 0px; 
            font-size: 18px;
            color: #F0D8D9;
        }
        .trailer-page .trailer-page-div .div2 p{
           margin-top: 10px;
            padding: 0px 0px; 
            font-size: 12px;
            color: #F0D8D9;
            line-height: 22px;
        }
        .trailer-page .trailer-page-div .div2 ul{
            margin-top: 40px;
        }
        .trailer-page .trailer-page-div .div2 ul li{
            margin-top: 10px;
           margin-left: 40px;
            padding: 0px 0px; 
            font-size: 12px;
            color: #F0D8D9;
        }
        /* 结尾 */
        .ending{
           width: 1020px;
           height: 65px; 
           margin: 0px auto;
           background-color: #303441;
        }
        .ending h4{
            display: inline-block;
            color: #666D89;
            font-size: 12px;
            margin-left: 40px;
            line-height: 65px;
        }
        .ending div{
            float: right;
        }
        .ending  ul li{
            float: left;
            width: 28px;
            height: 28px;
            border: 1px solid #000000;
            border-radius: 50%;
            margin-top: 20px;
            margin-right: 10px;
        }
        .ending ul li img{
            width: 10px;
            height: 10px;
            margin:8px 8px;
        }